.tiny-text{
    font-size: small;
}

.card-img{
    width: 50%!important;
    margin-right: 25%;
    margin-left: 25%;
}

.link{
    color: blue!important;
    background-color: transparent;
    text-decoration: none;
}